<div class="container">
  <div class="block-heading">
    <h2 class="text-info">Features</h2>
    <p>Discover how our feature-rich platform can help you optimize your posting times, manage multiple social media accounts effortlessly, gain valuable data-driven insights, and receive personalized recommendations for maximum reach and engagement. It's time to take your social media game to the next level.</p>
  </div>
  <div class="row justify-content-center">
    <div *ngFor="let feature of features" class="col-md-5 feature-box">
      <i [ngClass]="feature?.icon"></i>
      <h4>{{feature?.title}}</h4>
      <p>{{ feature?.description }}</p>
    </div>
  </div>
</div>
