<main class="bg-light">
  <section
    class="container-sm height d-flex flex-column flex-sm-column flex-lg-row justify-content-center align-items-center"
  >
    <div class="col-sm-12 col-lg-6 bg-primary p-5 h-100 rounded-start d-none d-lg-block">
      <h1 class="text-white">INFORMATION</h1>
      <p class="text-white">
        We are a dedicated team of social media enthusiasts and data-driven
        professionals. Our mission is to simplify the process of content
        scheduling and maximize your reach across various social media
        platforms.
      </p>

      <p class="text-white">
        <span class="fw-bolder">2.2 User Content: </span>
        By posting or submitting content through the App, you grant us a
        non-exclusive, worldwide, royalty-free license to use, modify, publicly
        display, and distribute that content for the purpose of providing and
        improving the App.
      </p>

      <a type="button" class="btn btn-success fw-bolder" [routerLink]="['/login']" >Have an Account Login</a>
    </div>
    <form
      [formGroup]="registrationForm"
      class="row needs-validation rounded-end col-sm-12 col-lg-6 p-sm-5  h-100 rounded-end bg-white"
      (ngSubmit)="onSubmit()"
      novalidate
    >
    <h2 class="text-primary">REGISTRATION FORM</h2>
      <div class="col-md-6">
        <label for="fname" class="form-label">First name</label>
        <input
          type="text"
          class="form-control"
          id="fname"
          formControlName="fName"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="col-md-6">
        <label for="lName" class="form-label">Last name</label>
        <input
          type="text"
          class="form-control"
          id="lName"
          formControlName="lName"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="col-md-12">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
        />
        <div class="invalid-feedback">Please provide a valid Email.</div>
      </div>
      <div class="col-md-6">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
        <div class="invalid-feedback">Please select a strong password.</div>
      </div>
      <div class="col-md-6">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          formControlName="confirmPassword"
        />
        <div class="invalid-feedback">Password doesn't match.</div>
      </div>
      <div class="col-12 my-2">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            formControlName="termsAndConditions"
            id="termsAndConditions"
            required
          />
          <label class="form-check-label" for="termsAndConditions">
            Agree to the <a routerLink="/terms-of-service">Terms of Service</a>
          </label>
          <div class="invalid-feedback">You must agree before submitting.</div>
        </div>
      </div>
      <div class="col-12 my-2">
        <button class="btn btn-primary fw-bolder" type="submit">Register</button> <span class="mx-3 d-lg-none"> OR</span> <a type="button" class="btn btn-success fw-bolder d-lg-none" [routerLink]="['/login']" >Login</a>
      </div>
      <div class="col-md-12 ">
        <p class="fw-light fs-5">Signup with:</p>
        <div class="icons">
          <a [href]=""
            ><i class="icon-social-facebook me-3 fs-3"></i></a
          ><a [href]=""
            ><i class="icon-social-instagram me-3 fs-3"></i></a
          ><a [href]=""
            ><i class="icon-social-twitter me-3 fs-3"></i></a
          ><a [href]=""><i class="bi bi-tiktok me-3 fs-3"></i></a>
        </div>
      </div>
    </form>
  </section>
</main>
