.tiktok-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tiktok-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('src/assets/img/icons8-tiktok-48.png'); /* Replace with the actual path to your TikTok icon image */
  background-size: cover;
  margin-right: 10px;
}

.tiktok-text {
  font-size: 16px;
}
