<app-header></app-header>
<main class="page landing-page">
  <section class="clean-block clean-hero" style="background-image:url(&quot;assets/img/tech/image4.jpg&quot;);color:rgba(9, 162, 255, 0.85);">
    <div class="text">
      <h2>HUSTLER HELPS GROW YOUR BUSINESS</h2>
      <p>Focus on creating content and let us do the handwork on choosing a perfect time to post your content on your socia media profiles</p><button class="btn btn-outline-light btn-lg" type="button">Learn More</button>
    </div>
  </section>
  <section class="clean-block clean-info dark">
    <app-info></app-info>
  </section>
  <section class="clean-block features" id="features">
    <app-feature [features]="features"></app-feature>
  </section>
  <section class="clean-block slider dark">
    <app-slider></app-slider>
  </section>
  <section class="clean-block about-us" id="about">
    <app-about [people]="people"></app-about>
  </section>
</main>
<app-footer></app-footer>

