<div class="container">
  <div class="block-heading">
    <h2 class="text-info ">Info</h2>
    <p> We are a dedicated team of social media enthusiasts and data-driven professionals. Our mission is to simplify the process of content scheduling and maximize your reach across various social media platforms.</p>
  </div>
  <div class="row align-items-center">
    <div class="col-md-6"><img class="img-thumbnail" src="../../../../../assets/img/scenery/socialIconsImage.webp"></div>
    <div class="col-md-6">
      <h3>Simplify Your Social Media Strategy</h3>
      <div class="getting-started-info">
        <p>Welcome to our platform, where we simplify your social media strategy and provide data-driven solutions for optimal engagement. In today's fast-paced digital landscape, creating captivating content is just the beginning. To truly succeed, you need to know when and where to share it for maximum impact. That's where we come in. Our platform takes the guesswork out of content scheduling by analyzing user behavior, trends, and engagement patterns across various social media platforms. By leveraging our innovative algorithms and user-friendly interface, you can focus on what matters most – creating exceptional content – while we handle the handwork of selecting the perfect time to post on platforms like TikTok, Instagram, Facebook, and more. Discover the power of strategic posting and unlock the full potential of your online presence.</p>
      </div><button class="btn btn-outline-primary btn-lg" type="button">Join Now</button>
    </div>
  </div>
</div>
